.menu{
  height: 100%;
}

#inputNavigation{
  padding: 50px;
  max-height: 672px;
  background-color: #DCDCDC;
}

.extraMargin{
  margin-bottom: 50px !important;
}

.btn-default{
  background-color: black !important;
}

label{
  color: black !important;
}

.bottomComponents{
  height: 100% !important;
}
